

/*--------------Body Text----------------------------------------------------------------*/

/*
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i);
@import url(//fonts.googleapis.com/css?family=Abel);
*/


body {
    font-family: 'Roboto', sans-serif;
    position:relative;
    
}


/*--------------Containers----------------------------------------------------------------*/

.callout-container {
height:100vh;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/landing_image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   background-position: center;
    background-repeat: no-repeat;
   
}



.container-wrapper-blackcoffeetour {
    height:100vh;
     background: url('../images/tourpic.jpg') no-repeat center ;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-wrapper-blackcoffeecontact {
    height: 100%; 
     background: url('../images/contact_rorange.png') no-repeat center ;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.enquire-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}


.content-container {
 padding-top: 80px;
 padding-bottom: 100px;
}

.content-container-video {
 margin-top: 10px;

}

.callout-container-about {
    height: 100%; /* to fill full window with scrollbar */
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/About_edit.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container-wrapper-music {
   height:100%;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/musicbg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}

.container-wrapper-video {
     height:100%;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/videobg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}

.container-wrapper-gallery {
    height:100%;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/gallery10.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}


/*--------------------- index page content------------------------------------------*/


.header{
    text-align: center;
}

.header-icon {
    color:#4e3317;
    font-family: Abel; font-size: 44px; font-style: normal;  
    font-weight:bold;
}



.header-icon-contact  {
    padding-bottom:10px;
}

.header-icon-video  {
    padding-top:100px;
   padding-left:100px;
   padding-right:100px;
}


.header-icon-p  {
    padding-bottom:30px;
}

.index-content {
    color:#F8F8F8;
    font-family: Abel; font-size: 18px; font-style: normal;
    font-weight:bold;
   
}

.top-buffer {padding-top:30px;}






/*--------------------- Navbar------------------------------------------*/




.navbar {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #4e3317;
    border: 0;
    min-height: 90px;
    padding-right: 10px;
}



.navbar-default .navbar-collapse {
      border-color:transparent;
    padding-top: 20px;
    box-shadow:none;
}

.navbar-default .navbar-toggle {
   border-width: .5px .5px .5px .5px;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.pointer {
    cursor:pointer;
}

.navbar .navbar-brand {
    padding-top: 15px;
}




.navbar-default .navbar-nav > li > a {
    color: white;
    
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}



.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
   color:#FFF;
   
}




.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
 color: white;
}

 





/* code taken from https://bootstrapious.com/p/bootstrap-navbar#5-2-overflowing-content 
adjust navbar collapse before logo icon*/

@media (max-width: 900px) { 
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    
}            

/* End of code for nav collapse */

/*----------------ABOUT PAGE----------------------- */

.about-content-container {
    padding-top: 100px;
    padding-left: 20px;
}


.about-content {
color:#F8F8F8;
font-family: Abel; font-size: 18px; font-style: normal;
font-weight:bold;
}

.about-content h2  {
    color:#989794;
    font-family: Abel; font-size: 24px; font-style: normal;  
    font-weight:bold;
    padding-top: 20px;
}


/* --------------MUSIC----------------------------*/

.music-content-container {
    padding-top: 10px;
   
}

/* --------------GALLERY----------------------------*/

.gallery-margin {
    margin-top: 10px;
}


/* --------------VIDEO---------------------------*/
.container {
  background: transparent;
  margin-bottom: 20px;
  padding-bottom: 50px;
  
}

.video-content {
    color:#989794;
    font-family: Abel; font-size: 30px; font-style: normal;  
    font-weight:bold;
    
}




/* Buttons */

.btn-sign {
    width:270px;
}

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 180px;
    text-align: center;

}
    
.btn-grey {
    background-color:#8f8f8f;
}
   
  
.btn-red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}


.form-control {
   width:50%;
    display:inline;
}

.form-inline
{
 padding-bottom: 55px;

}

.modal-content
{
    background-color: #98958f;
    color: #F8F8F8;
    
}





/*--------------Footer----------------------------------------------------------------*/



footer {
    background-color: #4e3317;
    min-height: 60px;
    bottom:0;
    left: 0;
    width: 100%;
    position: relative;
}

.footer-music {
   position: fixed; 
}




.social-header {
    padding-top: 20px;
    
}


.social-links {
    padding-bottom: 0px;
    float:right;
    padding-right: 10px;
    
    
}

.social-text {
color:#F8F8F8;
font-family: Abel; font-size: 14px; font-style: normal;
font-weight:bold;
float: left;
padding-left: 10px;

}

.social-links li  i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 8px;
    text-align: center;
    color: #fafafa;
    border: 1px solid #CDCDCD;
    background: transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}




.social-links li  i:hover {
    /*color: #f05f40;*/
    background-color: #f05f40;
}



