
body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.callout-container {
    height: 100vh;
    background: url('../images/landing_image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.callout-container-about {
    height: 100vh;
    background: url('../images/About_edit.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}







/* Navbar */

/*Center Navbar Items */

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li  {
    display: inline-block;
    float:none;
}


.navbar {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    min-height: 90px !important;
}

/*
 .navbar-about {
    margin-bottom: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(192,192,192,0.3);
    border: 0;
    min-height: 90px !important;

}
*/




.navbar-default .navbar-collapse {
    border-color: transparent;
    padding-top: 20px;
    
}

.navbar-default .navbar-toggle {
    border: 0;
  
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    padding-left: 60px;
    padding-top: 20px;
    
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
 color: grey;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}
